## Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.env*
.cache/

## .NET Standard
[Bb]in/
[Oo]bj/
**/publish/
.vs/
*.user
*.suo
*.userprefs
*.lock.json
# Visual Studio Code
.vscode/

## Valhalla Integration
infra/valhalla/custom_files/**
infra/valhalla/osm/**
*.osm.pbf
valhalla_tiles.tar
.file_hashes.txt

## OS Generated
.DS_Store
Thumbs.db
*.log
dev/.local-dev-server.pid
