[Unit]
Description=Check SaveFW TLS certificate renewal twice daily

[Timer]
OnCalendar=*-*-* 00,12:17:00
RandomizedDelaySec=45m
Persistent=true

[Install]
WantedBy=timers.target
